html {
    min-width: 320px;
}
.reviews_form {
    border: solid black 1px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;  
}
.reviews_form label {
    font-weight: 600;
}
.block_A {
    margin-top: 50px;
}
.block_1,
.block_2,
.block_3,
.block_4 {
    display: table;
    width: 100%;
}
.block_1 label,
.block_2 label,
.block_3 label,
.block_4 label {
    width: 200px;
    display: table-cell;
}   
.calendar,
.text_inp_review,
.review_inp_mail,
textarea {
    background-color: #FFFAF3;
    border: solid black 1px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.block_5 {
    text-align: end;
}
textarea {
    resize: none;
    margin-bottom: 0;
    height: 40px;
}
.input_ok {
    background-color: #FFFAF3;
    border: solid black 1px;
}
.input_ok:focus {
    box-shadow: 0 0 0 0.25rem #D4DCB2;
}
.input_ok:hover {
    background-color: #D4DCB2;
}
.wrapper_reviews_part {
    width: 100%;
    padding: 0 5px;
}
.wrapper_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper_text {
    margin: 20px 0;
}
.reviews_text {
    padding: 0;
}
/* Звездный рейтинг */
.wrapper_rating {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 25px;
    justify-content: flex-start;
}
.star_rating_item {
    font-size: 2rem;
    color: #ff9800;
    cursor: pointer;
    transition: .5s;
    opacity: .35;
    padding-left: 5px;
    border: none;
    background-color: transparent;
}
.star_rating_item:hover,
.star_rating_item:hover ~ .star_rating_item {
    color: #ff9800;
    opacity: 1;
}
.wrapper_rating[data-total-value="1"] .star_rating_item:nth-child(n + 5),
.wrapper_rating[data-total-value="2"] .star_rating_item:nth-child(n + 4),
.wrapper_rating[data-total-value="3"] .star_rating_item:nth-child(n + 3),
.wrapper_rating[data-total-value="4"] .star_rating_item:nth-child(n + 2),
.wrapper_rating[data-total-value="5"] .star_rating_item:nth-child(n + 1) {
    color: orange;
    opacity: 1;
}

@media only all and (max-width: 900px) {
    .calendar {
        box-sizing: border-box;
    }
    .reviews_form {
        width: 400px;
    }
}
@media only all and (max-width: 500px) {
    .reviews_form {
        width: 300px;
    }
    .block_1 label,
    .block_2 label,
    .block_3 label {
        width: 110px;
    }
    .block_4 label {
        width: 110px;
    }
}