@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
}
html {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    width: 100%;
}
body {
    background: #FFFAF3;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: black;
    -webkit-text-size-adjust: none;
    font-size: 100%;
    min-width: 320px;
}
* {
    -webkit-text-size-adjust: none;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
.wrapper_of_all {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 100px;
}
@media only all and (max-width: 1000px) {
    body {
        font-size: 16px;
    }
    .wrapper_of_all {
        width: 100%;
        padding: 0 20px; 
    }
}
@media only all and (max-width: 500px) {
    body {
        font-size: 13px;
    }
    .wrapper_of_all {
        width: 100%;
        padding: 0 5px; 
    }
}
.buttons,
.button_1 { 
    border: solid black 1px;
    padding: 10px 18px;
    width: 170px;
    height: 50px;
    background-color: #FFFAF3;
    text-transform: uppercase;
    text-align: center;
}
.buttons:hover,
.button_1:hover,
.menu_link_button_inside:hover {
    background-color: #D4DCB2;
}
h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
}
h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
}
h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
@media only all and (max-width: 1000px) {
    h1 {
        font-size: 64px;
        line-height: 78px;
    }
    h2 {
        font-size: 55px;
        line-height: 67px;
    }
    h3 {
        font-size: 24px;
        line-height: 29px;
    }
    .btn {
        font-size: 16px;
    }
}
@media only all and (max-width: 500px) {
    h1 {
        font-size: 28px;
        line-height: 34px;
    }
    h2 {
        font-size: 24px;
        line-height: 29px;
    }
    h3 {
        font-size: 16px;
        line-height: 19px;
    }
    .buttons,
    .button_1 {
        width: 195px;
        height: 50px;
    }
}
    /* Модальное окно */
.btn {
    color: black;
    border-radius: 0;
    font-size: 18px;
}
.btn:focus,
.input_submit:focus,
.btn_close_modal:focus {
    box-shadow: 0 0 0 0.25rem #D4DCB2;
}
.modal-content {
    background-color: #FFFAF3;
}
.wrapper_modal_1,
.wrapper_modal_2 {
    display: table;
    width: 100%;
}
.wrapper_modal_1 label,
.wrapper_modal_2 label {
    width: 100px;
    display: table-cell;
    font-style: italic;
}
.btn-secondary {
    background-color: #d3d3d3;
}
.modal-title {
    font-weight: bold;
}
.button_input_text,
.button_input_tel {
    width: 100%;
    margin: 10px 0;
    background-color:#FFFAF3    ;
    border: solid #565e64 1px;
}
.input_submit {
    background-color: #d3d3d3;
    border: solid #6c757d 1px;
    padding: 7px 10px;
    position: absolute;
    bottom: -58px;
    right: 130px;
    font-size: 18px;
}
.input_submit:hover {
    background-color: #5a6268;
    color: white;
}
.close_close {
    font-size: 38px;
    line-height: 0.8;
}
@media only all and (max-width: 500px) {
    .button_input_text,
    .button_input_tel {
        width: 100%;
    }
}
    /* Шапка */
.head {
    background-color: #FFFAF3;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
    margin: 0 auto;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    max-width: 1200px;
}
.logo_link,
.menu_link,
.menu_link_button {
    text-decoration: none;
}
.header_logo a.logo_link svg {
    width: 90%;
}
.menu_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-items: center;
}
.menu_nav a {
    padding: 15px;
}
.menu_nav li a:hover,
.menu_nav li a:active,
.menu_nav li a:focus,
.price:hover,
.price:active,
.price:focus,
.detailed:hover,
.detailed:focus,
.detailed:active {
    font-weight: bold;
    border-radius: 10px; 
    box-shadow: 0 0 15px #D4DCB2;
}
#menu__toggle {
    opacity: 0;
}
.menu_link_button_inside,
.logo_link_burger {
    display: none;
}
@media only all and (max-width: 1100px) {
    .header_logo, 
    .menu_link_button {
        margin: 0 auto;
    }
    /* Бургер меню */
    /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    }
    /* стилизуем кнопку */
.menu__btn {
    display: flex; 
    align-items: center; 
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 101;
    }
     /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    }
.menu__btn > span::before {
    content: '';
    top: -8px;
    }
.menu__btn > span::after {
    content: '';
    top: 8px;
    }
    /* контейнер меню */
.menu_nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 440px;
    margin: 0;
    padding: 27px 0;
    list-style: none;
    text-align: center;
    background-color: #FFFAF3;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* элементы меню */
.menu_link {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    }
.menu_link:hover {
    font-weight: bold;
    border-radius: 10px; 
    box-shadow: 0 0 15px #D4DCB2;
    }
.logo_link_burger {
    text-align: center;
    }
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    }
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    }
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
#menu__toggle:checked ~ .menu_nav {
    visibility: visible;
    left: 0;
    }
    /* анимация для бургера */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
    }
.menu_nav {
    transition-duration: .25s;
    }
.menu_link {
    transition-duration: .25s;
    }
}
.menu_link_button_inside {
    display: none;
}
@media only all and (max-width: 1000px) {
    .menu_link_button {
        width: 140px;
    }
}
@media only all and (max-width: 500px) {
    .menu_link_button,
    .button_1 {
        display: none;
    }
    .menu_link_button_inside {
        display: block;
        border: solid black 1px;
        align-items: center;
        padding: 5px 20px;
        width: 170px;
        height: 47px;
        background-color: #FFFAF3;
        text-transform: uppercase;
    }
    .menu_item .menu_link_button_inside {
        margin-left: 66px;
    }
    .input_submit {
        font-size: 18px;
        padding: 10px 14px;
    }
    .logo_link {
        text-align: right;
    }
    .logo_link_burger {
        display: block;
    }
    .menu__btn {
        left: 10px;
    }
    .menu_nav {
        height: 560px;
        padding: 10px 0;
    }
}
/* XNAILS - студии маникюра в Минске */
.block {
    display: grid; 
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr 0.2fr 0.3fr;
    align-items: end;
    background: radial-gradient(circle closest-side at 15% 20%, #D4DCB2, #FFFAF3);
}
.text1 {
    grid-column: 1 / 5;
    grid-row: 1;
    padding-top: 80px;
    /* order: 1; */
}
.text {
    grid-column: 1 / 6;
    grid-row: 2;
    font-style: italic;
    font-weight: 300;
    /* order: 2; */
    
}
.main_1 {
    max-width: 623px;
    max-height: 641px;
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    width: 100%;
}
.text span {
    text-transform: uppercase;
}
.flex-column {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    margin-top: 400px;
}
.main_price {
    justify-items: start;
    align-items: center; 
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 0.5fr;
    /* gap: 30px; */
}
.text_button {
    grid-column: 1;
    grid-row: 1;
}
.price {
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}
.main_border {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 0.15fr 0.15fr 0.15fr;
    grid-template-rows: 1fr; */
    margin-top: 115px;
    gap: 27px;
    width: 200%;
}
.main_2 {
    border-radius: 130px 0 0 0;
}
.main_2,
.main_3,
.main_4 {
    width: 15%;
    height: 15%;
}
.statistics {
    margin: 0 auto;
    max-width: 830px;
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    background: radial-gradient(circle closest-side at 89% 50%, #D4DCB2, #FFFAF3);
}
.years {
    grid-column: 1;
    grid-row: 1;
}
.years_text {
    grid-column: 1;
    grid-row: 2;
}
.numbers {
    grid-column: 2;
    grid-row: 1;
}
.numbers_text {
    grid-column: 2;
    grid-row: 2;
}
.experience {
    grid-column: 3;
    grid-row: 1;
}
.experience_text {
    grid-column: 3;
    grid-row: 2;
}
@media only all and (max-width: 1000px) {
    .container_1 {
        margin: 0 30px;
    }
    .main_1 {
        width: 90%;
    }
    .main_2 {
        border-radius: 70px 0 0 0;
    }
    .statistics {
        max-width: 737px;
    }
    .main_border,
    .main_price {
        gap: 8px;
    }
    .flex-column {
        margin-top: 330px;
    }   
}
@media only all and (max-width: 500px) {
    .block {
        height: 430px;
    }
    .statistics_flex {
        display: flex;
        flex-direction: column;
    }
    .flex-column {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .statistics {
        width: 320px;
    }
    .years_text,
    .numbers_text,
    .experience_text {
        width: 150px;
        text-align: center;
        margin: 0 auto;
    }
    .years,
    .numbers,
    .experience {
        font-weight: bold;
    }
    .text1 {
        padding-top: 15px;
    }
    .main_1 {
        margin-bottom: 120px;
    }
    .main_border {
        margin-top: 100px;
    }
    .main_2 {
        border-radius: 42px 0 0 0;
    }
    .flex-column {
        margin-top: 240px;
        gap: 50px;
    }
    .main_price {
        display: flex;
        flex-direction: column;
        width: 200%;
    }
    .statistics {
        margin-top: 0;
    }
    .menu_nav li a:hover,
    .menu_nav li a:active,
    .menu_nav li a:focus {
        font-weight: bold;
        border-radius: 10px; 
        box-shadow: 0 0 15px #D4DCB2 inset;
    }
}
/* Акции */
.carousel-item img {
    margin-top: 100px;
    margin-bottom: 160px;
    max-width: 1169px;
    max-height: 822px;
}
.carousel-caption {
    position: absolute;
    bottom: 14rem;
    left: 55%;
    border: solid transparent;
    backdrop-filter: blur(30px);
    color: black;
    text-align: start;
    padding: 20px;
    z-index: 1;
}
.carousel-caption-2 {
    text-align: center;
    height: 50%;
    bottom: 18rem;
}
.carousel-caption h3,
.carousel-caption p {
    padding-bottom: 15px;
}
.carousel-caption p,
.carousel-caption a {
    color: black;
}
.carousel-indicators {
    bottom: 70px;
    z-index: 1;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #FFFAF3;
    border: solid black 1px;
}
.carousel-indicators li.active {
    background-color: #D4DCB2;
    border: none;
    width: 15px;
    height: 15px;
}
.d-none {
    width: 80%;
    width: 300px;
    height: 320px;
}
.d-none_2 {
    height: 200px;
}
.carousel-inner {
    height: 100%;
}
@media only all and (max-width: 1000px) {
    .carousel-caption {
        font-size: 14px;
        line-height: 17px;
        padding: 5px;
        left: 40%;
        bottom: 12rem;
    }
    .carousel-caption h3,
    .carousel-caption p {
        padding-bottom: 5px;
    }
    .d-none {
        display: block !important;
        width: 300px;
        height: 180px;
    }
    .carousel-caption-2 {
        bottom: 14rem;
        height: 17%;
    }
}
@media only all and (max-width: 500px) {
    .together {
        height: 550px;
    }
    .carousel-caption {
        font-size: 13px;
        bottom: -3rem;
        left: 0;
        backdrop-filter: none;
        text-align: center;
        width: 100%;
    }
    .carousel-caption h3 {
        padding-bottom: 10px;
    }
    .carousel-caption p {
        padding-bottom: 10px;
    }
    .carousel-indicators {
        bottom: -28px;
    }
    .carousel-caption-2 {
        bottom: -6rem;
        width: 100%;
        height: 50%;
    }
}
/* Наши услуги */
.our_service {
    background: radial-gradient(circle closest-side at 15% 40%, #D4DCB2, #FFFAF3);
}
.our_service h2 {
    margin-bottom: 15px;
}
.menu_service {
    display: flex;
    width: 50%;
    padding-left: 0;
}
.menu_service li {
    list-style-type: none;
    padding: 5px 10px; 
}
.menu_service li.active {
    font-weight: 500;
    border-bottom: solid #D4DCB2 2px;
}
.menu_service li:hover {
    cursor: pointer;
}
.content_service {
    width: 100%;
    margin-top: 5px;
}
.content_service > div {
    padding: 10px;
}
.content_service > div:not(.active) {
    display: none;
}
.content_service > div:not(.active) > div.service_block_btn {
    display: block;
}
.description {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 20px;
}
.description img {
    width: 20%;
}
.btn_service {
    margin: 70px 0;
}
.service_name {
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}
.radio_text {
    width: 50%;
}
.radio_text_1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.more_details {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 10px;
}
/* .radio_price > div {
    margin-bottom: 20px;
}
.radio_text > div,
.description_build-up > div,
.description_pedicure > div {
    margin-bottom: 20px;
} */
#first img,
#second img {
    float: right;
    width: 25%;
}
#third img {
    float: right;
    width: 28%;
}
.service_img {
    float: right;
    width: 18%;  
}
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
}
/* Кнопка 'подробнее' */
.radio_text .read-more {
    display: none;
}
.radio_text .read-more + label + div {
    display: none;
}
.radio_text .read-more:checked + label + div {
    display: block;
}
.radio_text .read-more + label {
    cursor: pointer;
}
.radio_text .read-more:checked + label {
    display: none;
}
.radio_text .read-more + label + div + input + label {
    display: none;
    cursor: pointer;
}
.radio_text .read-more:checked + label + div + input + label {
    display: block;
}
.radio_text .read-more:checked + label + div + input + label > div.radio_price div.level_1 {
    padding-bottom: 100px;
}
@media only all and (max-width: 1000px) {
    .service_name {
        font-size: 24px;
        line-height: 29px;
    }
}
@media only all and (max-width: 700px) {
    .service_img,
    #first img,
    #second img,
    #third img {
        display: none;
    }
    .radio_text {
        width: 100%;
    }
}
@media only all and (max-width: 600px) {
    .service_name {
        font-size: 20px;
        line-height: 21px;
    }
    .more_details {
        padding-left: 0;
    }
    .radio_text {
        width: 100%;
    }
    .service_block_btn {
        margin: 0 auto;
    }
    .btn_service {
        margin-left: 60px;
    }
}
@media only all and (max-width: 400px) {
    .menu_service li {
        padding: 5px 5px;
    } 
}
/* Портфолио */
.container-fluid h2 {
    margin-bottom: 50px;
}
.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.item {
    width: 260px;
    height: 360px;
}
.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFFAF3;
    border: solid black 1px;
    border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot {
    zoom: 1.5;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #D4DCB2;
    border: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    background-color:#FFFAF3;
    border: solid black 0.5px;
}
.owl-stage {
    overflow: hidden;
}
.owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -40px;
}
.owl-nav button.owl-prev {
    left: -24px;
    width: 100px;
    height: 100px;
}
.owl-nav button.owl-next {
    right: -24px;
}
@media only all and (max-width: 500px) {
    .item {
        margin: 0 auto;
    }
}
/* Подарочный сертификат */
.certificate {
    /* height: 750px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr;
    padding-top: 100px;
}
.certificate img {
    grid-column: 1;
    grid-row: 1;
    width: 70%;
}
.certificate_text {
    grid-column: 2;
    grid-row: 1;
    background: radial-gradient(circle closest-side at 70% 65%, #D4DCB2, #FFFAF3);
}
.certificate_text h2 {
    margin-bottom: 50px;
}
.certificate_text_2 {
    margin-bottom: 50px;
}
.certificate_text_3 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.organize_button {
    grid-column: 1;
    grid-row: 2;
}
.detailed {
    padding: 5px;
}

@media only all and (max-width: 1000px) {
    /* .certificate {
        height: 483px;
    } */
    .certificate img {
        padding-left: 30px;
        width: 70%;
    }
    .certificate_text {
        padding-right: 10px;
    }
    .certificate_text h2,
    .certificate_text_2 {
        margin-bottom: 25px;
    }
}
@media only all and (max-width: 500px) {
    .certificate {
        /* height: 760px; */
        display: flex;
        flex-direction: column;
    }
    .certificate_text h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .certificate_text_2 {
        text-align: center;
    }
    .certificate_text_3 {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .certificate img {
        margin: 0 auto;
    }
    .organize_button {
        width: 195px;
        height: 50px;
    }
}
/* Отзывы */
.block_reviews {
    /* height: 976px; */
    margin: 100px 0;
}
.reviews {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    grid-template-rows: auto 100px 1fr;
    grid-auto-rows: minmax(100px, 1fr);
}
.review_A {
    display: none;
}
.reviews h2 {
    font-style: italic;
    font-weight: 300;
    line-height: 100%;
}
/* .block_h2_title {
    grid-column: 1 / 3;
    grid-row: 1 ;
} */
.h2_title_1 {
    padding-left: 1.6rem;
    grid-column: 1;
    grid-row: 1;
}
.h2_title_2 {
    padding-left: 6rem;
    grid-column: 1;
    grid-row: 1;
}
.reviews h2 span {
    font-style: normal;
}
.img1 {
    grid-column: 2;
    grid-row: 1 / 4;
    width: 80%;
    padding-left: 20px;
    min-width: 100px;
    min-height: 140px;
}
.first_reviews {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    justify-content: space-between;
}
.first_reviews div {
    display: flex;
    flex-direction: row;
}
.first_reviews div p {
    margin-left: 50px;
}
.block_rating {
    grid-column: 1;
    grid-row: 2; 
    display: flex;
    flex-direction: row;
    margin-left: 87px;
}
.carousel-222 {
    grid-column: 1;
    grid-row: 3;
}
.date_reviews {
    margin-left: 20px;
}
.reviews_text {
    padding: 0 70px;
}
/* Кнопка 'подробнее' */
.reviews_text .read-more-radio {
    display: none;
}
.reviews_text .read-more-radio + label + div {
    display: none;
}
.reviews_text .read-more-radio:checked + label + div {
    display: block;
}
.reviews_text .read-more-radio + label {
    cursor: pointer;
}
.reviews_text .read-more-radio:checked + label {
    display: none;
}
.reviews_text .read-more-radio + label + div + input + label {
    display: none;
    cursor: pointer;
}
.reviews_text .read-more-radio:checked + label + div + input + label {
    display: block;
}
@media only all and (max-width: 1000px) {
    /* .block_reviews {
        height: 675px;
    } */
    .block_h2_title {
        font-size: 55px;
        line-height: 67px;
    }
    .img1 {
        max-width: 222px;
        max-height: 308px;
        width: 80%;
    }
    .reviews_text {
        padding: 0 70px;
    }
    .reviews h2 {
        line-height: 80%;
    }
    /* .carousel-222 {
        grid-column: 1 / 3;
        grid-row: 3;
    } */
}
@media only all and (max-width: 500px) {
    .block_reviews {
        /* height: 600px; */
        padding-top: 25px;
    }
    .block_h2_title {
        font-size: 20px;
    }
    .img1 {
        width: 98px;
        height: 139px;
        grid-column: 2;
        grid-row: 1;
    }
    .img2 {
        width: 15%;
    }
    .first_reviews {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        align-items: flex-start;
    }
    .first_reviews div {
        display: flex;
        flex-direction: row;
    }
    .first_reviews a {
        /* margin-bottom: 20px;
        padding-left: 80px; */
        display: none;
    }
    .review_A {
        display: block;
        font-size: 13px;
        text-align:end;
    }
    .reviews {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .carousel-222 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .reviews_text {
        padding: 0 50px;
    }
}
/* Наши студии, расположение */
.location {
    /* height: 750px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.location_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 50px;
}
.location_text {
    max-width: 400px;
    padding-bottom: 30px;
}
.location_inform {
    margin-bottom: 95px;
}
.map {
    width: 100%;
}
@media only all and (max-width: 1000px) {
    .location {
        height: 550px;
    }
}
@media only all and (max-width: 500px) {
    .location {
        height: 850px;
    }
    .location h2 {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .location_block {
        flex-direction: column-reverse;
        padding-top: 10px;
        gap: 0;
    }
    .location_inform {
        display: block;
        text-align: center;
    }
    .location_text {
        padding-bottom: 20px;
    }
}
/* Подвал */
.footer-wrapper {
    /* height: 351px; */
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-rows: 0.35fr;
    gap: 20px;
    justify-items: center;
    /* justify-content: center; */
    padding-top: 75px;
}
.footer_logo {
    grid-column: 1;
    grid-row: 1;
}
.footer_logo_link svg {
    width: 90%;
}
.footer_logo_link,
.footer_menu_link {
    text-decoration: none;
    color: black;
}
.wrapper_footer_menu {
    display: flex;
    flex-direction: row;
    grid-column: 2;
    grid-row: 1;
    gap: 20px;
}
.footer_menu_list {
    grid-column: 2;
    grid-row: 1;
    list-style-type: none;   
}
.footer_menu_list_2 {
    grid-column: 2;
    grid-row: 1;
    list-style-type: none;  
}
ul li {
    padding-bottom: 20px;
}
.input_email {
    background-color:#FFFAF3;
}
.button_mail_img {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    height: 40px;
}
.btn_img {
    background-color: #FFFAF3;
    border: solid black 1px;
    border-left: none;
}
.input_email:focus,
.input_email:active,
.btn_img:focus,
.btn_img:active  {
    outline: none;
}
.input_email:invalid {
    border: solid #ffdddd 1px;
    background-color: #FFFAF3;
    border-right: none;
    color: red;
}
.input_email:invalid + button {
    border: solid #ffdddd 1px;
    border-left: none;
}
.input_email:invalid + button > svg {
    stroke: #ffdddd;
    stroke-width: 1px;
}
.input_email:valid {
    border: solid black 1px;
    background-color: #FFFAF3;
    border-right: none;
    color: black;
}
.btn_img:invalid {
    border: solid #ffdddd 1px;
    background-color: #FFFAF3;
    border-left: none;
}
.email {
    grid-column: 3;
    grid-row: 1;
    padding: 0 10px;
}
.email h3 {
    text-align: left;
    line-height: 100%;
    padding-bottom: 15px;
}
.email label {
    font-size: 14px;
    line-height: 100%;
    padding-top: 15px;
}
.policy_privacy {
    text-decoration: underline;
}
.footer_svg {
    grid-column: 1;
    grid-row: 1;
}
.designe {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 1.4rem;
}
.icon {
    list-style-type: none;
    padding-top: 60px;
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.footer_menu_link_double,
.footer_menu_link_2_double {
    display: none;
}
.designe,
.footer_menu_link_1,
.footer_menu_link_2,
.footer_menu_link_3 {
    text-decoration: none;  
}
.footer_foot {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
}
.footer_menu_link_1 {
    text-transform: uppercase;
}
.checkbox {
    display: flex;
    gap: 10px;
}
/* галочка чекбокса */
.checkbox input.yes { /* скрываем дефолтный чекбокс */
    display: none; 
}
.checkbox span { /* стилизируем новый чекбокс */
    height: 14px;
    width: 14px;
    border: solid black 2px;
    display: inline-block;
    position: relative;
    background-color:#FFFAF3;
    padding: 7px;
    margin-top: 10px;
}
[type=checkbox]:checked + span:before { /* ставим иконку, когда чекбокс включен  */
    content: '\2713';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color:black;
}
@media only all and (max-width: 1000px) {
    /* .footer-wrapper {
        height: 305px;
    } */
    footer {
        gap: 0;
        padding: 0 auto;
    }
    .footer-wrapper {
        gap: 1px;
    }
    .input_email {
        width: 100%;
    }
    .footer_menu_link_1,
    .footer_menu_link_2 {
        display: none;
    }
    .footer_foot {
        grid-column: 1 / 4;
        grid-row: 1;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 50px;
        margin-top: 200px;
    }
    .footer_menu_link_double {  
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }
    .footer_menu_link_2_double {
        display: block;
        text-decoration: none;
    }
    .designe {
        padding-bottom: 1.4rem;
    }
    .email label {
        font-size: 10px;
    }
    .footer_menu_list,
    .footer_menu_list_2 {
        font-size: 16px;
    }
    .footer_logo_link img {
        max-width: 90%;
    }
    .icon {
        gap: 0;
    }
    .icon svg {
        width: 70%;
    }
    .email h3 {
        font-size: 24px;
        padding-bottom: 15px;
    }
    .wrapper_footer_menu {
        justify-content: center;
        grid-column: 2;
    }
}
@media only all and (max-width: 500px) {
    .footer-wrapper {
        /* height: 415px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .footer_logo {
        margin-top: 50px;
    }
    .icon {
        padding-top: 20px; 
    }
    .wrapper_footer_menu {
        gap: 50px;
        height: 120px;
    }
    .footer_menu_link_2_double,
    .footer_menu_link_3 {
        display: none;
    }
    .footer_menu_link_double {
        display: flex;
    }
    .footer_foot_2 {
        display: flex;
        flex-direction: row; 
        gap: 30px;
    }
    .input_email {
        width: 100%;
    }
    .checkbox {
        padding-top: 15px;
        align-items: flex-end;
    }
    .footer_foot {
        margin-top: 10px;
        align-self:center;
    }
    .email h3 {
        text-align: center;
    }
}

  