.sertificate_description {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.detailed_description_1 ~ div,
.detailed_description_1 div:not(.conditions),
.detailed_description_2 ~ div,
.detailed_description_2 div:not(.conditions) {
    margin-bottom: 20px;
}
.conditions {
    font-weight: bold;
}
.wrapper_conditions {
    padding-bottom: 70px;
}
.h4_menu_title {
    display: flex;
    flex-direction: column;
    width: 377px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}
.h4_menu_title li {
    list-style-type: none;
    padding: 5px 10px;
}
.h4_menu_title li.active {
    border-bottom: solid #D4DCB2 2px;
}
.content_description {
    width: 100%;
}
.content_description > div {
    padding: 10px;
    display: block;
}
.content_description > div:not(.active) {
    display: none;
}
.list_title {
    display: none;
}

.list_title:focus-visible {
    outline:none;
    border-radius: 0;
}

@media only all and (max-width: 1000px) {
    .h4_menu_title {
        font-size: 24px;
        line-height: 29px;
        width: 258px;
    }
}
@media only all and (max-width: 500px) {
    .sertificate_description {
        display: flex;
        flex-direction: column;
    }
    .input_btn {
        display: flex;
        justify-content: center;
    }
    
    .list_title {
        display: block;
        background-color: #FFFAF3;
        border: none;
        width: 240px;
        font-size: 18px;
        line-height: 22px;
        padding-left: 5px;
    }
    .h4_menu_title {
        display: none;
        
    }
}