@import url(https://fontawesome.com);
.footer_svg {
    grid-column: 1;
    grid-row: 1;
}
.icon {
    list-style-type: none;
    padding-top: 80px;
}
.icon li {
    display: inline-block;
}
.insta,
.vk {
    width: 30px;
}
.facebook {
    width: 19px;
}
.mail {
    width: 35px;  
}